PROJECT_NAME="FastAPI Standard Backend"
API_V1_STR="/api/v1"
SECRET_KEY="Pratham"
ACCESS_TOKEN_EXPIRE_MINUTES=60
DATABASE_URL="sqlite:///./sql_app.db"
CLOUDINARY_URL="cloudinary://746271814651528:FAr5MAAhiqKEAnancxqqqsMWR1E@coffewithpratham"
